.Rproj.user
.Rhistory
.RData

# ignore project file
*.Rproj

# ignore anything in the data or other directories
data/
other/
output/
shared/
ebola_zoonotic_figs/

# ignore any non-code file types
*.pdf
*.png
*.html
*.docx
